<h1><%= link_to "Feeds at #{request.host}", feeds_path %></h1>

<section class="feeds">
  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>

  <% @feeds.each do |feed| %>
    <section class="feed">
      <%= render :partial => 'feed', :locals => { :feed => feed } %>
    </section>
  <% end %>

  <% if logged_in? %>
    <p class="commands"><%= link_to "Add new feed…", new_feed_path %></p>
  <% end %>
</section>
