<h1><%= @feed.title %> feed statistics</h1>

<% @report.reports.each do |report_title| %>
  <h2 class="report"><%= report_title %></h2>

  <canvas class="report"></canvas>

  <script type="application/json">
    <%== @report.data_for_report(report_title).to_json %>
  </script>
<% end %>
