default: &default
  adapter: mysql2
  encoding: utf8
  host: 127.0.0.1
  username: root
  password:
  socket: /tmp/mysql.sock

development:
  <<: *default
  database: sparkler_development

test:
  <<: *default
  database: sparkler_test

production:
  <<: *default
  database: sparkler_production
