$blue: 210;

html {
  // 1 rem = 10 px
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  color: #333;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 2rem;
}

.body-wrapper {
  overflow: hidden;
  margin: 0 auto;
  width: 80rem;
  
  > nav {
    position: absolute;
    top: 3rem;
    font-size: 1.4rem;

    &.left { left: 3rem; }
    &.right { right: 3rem; }
  
    a {
      margin: 0 0.7rem;
    }
  }
}

h1 {
  font-size: 4rem;
  margin-top: 12rem;
  margin-bottom: 8rem;
  text-align: center;
  font-weight: 500;
  color: black;

  a { color: black; }
  a:hover { text-decoration: none; }
}

h2 {
  font-size: 1.6rem;
  color: black;
}

a {
  text-decoration: none;
  color: #666;

  &:hover {
    text-decoration: underline;
  }
}

.feeds {
  width: 60rem;
  margin: 0 auto;
}

.feed {
  margin: 4rem auto;
  padding: 1.5rem;
  border: 1px solid hsl($blue, 20%, 88%);
  border-radius: 5px;
  background: hsl($blue, 80%, 97%);

  h2 {
    margin: 0 0 2rem;
    font-size: 2rem;
  }

  .status, .status-error, p a {
    margin-left: 0.5rem;
  }

  .status {
    color: black;
  }

  .status-error {
    color: red;
  }

  .actions {
    border-top: 1px solid hsl($blue, 20%, 88%);
    padding-top: 1.2rem;
  }

  .reload-spinner {
    vertical-align: top;
    display: none;
    margin: 0 1rem;
  }
}

.commands {
  margin: 1rem auto;
  padding-left: 1rem;
}

.report {
  canvas {
    width: 100%;
    height: 225px;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

  .info {
    font-size: 1.2rem;
    line-height: 140%;
    color: #666;
    margin-bottom: 2rem;
  }

  nav {
    margin: 2rem 0;
    font-size: 1.1rem;

    a, .button {
      border: 1px solid #ddd;
      padding: 0.4rem 0.8rem 0.3rem;
      border-radius: 4px;
      margin-right: 0.3rem;
      color: #333;
      -ms-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;

      &:hover {
        text-decoration: none;
        background-color: hsl($blue, 80%, 97%);
        border-color: hsl($blue, 50%, 87%);
      }

      &.selected {
        background-color: hsl($blue, 80%, 94%);
        border-color: hsl($blue, 50%, 75%);
      }

      input {
        margin-right: 3px;
      }
    }
  }
}

.legend {
  margin-top: 2rem;
  margin-bottom: 5rem;

  ul {
    margin: 0 auto;
    padding: 0;
    display: table;
    text-align: center;
  }

  li {
    display: inline-block;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: #333;
    
    span {
      display: inline-block;
      width: 9px;
      height: 9px;
      margin-right: 5px;
      border-radius: 5px;
    }
  }
}

form {
  width: 48rem;
  margin: 0 auto;

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }

  input:disabled + label {
    color: #888;
  }

  .checkbox {
    margin: 1.5rem 0;

    label {
      display: inline;
      vertical-align: middle;
      margin-left: 0.2rem;
      font-weight: normal;
    }
  }

  .field {
    margin-bottom: 1.5rem;
  }

  .field-info {
    font-size: 1.2rem;
    color: #666;
    display: block;
    margin-bottom: 0.5rem;
    margin-top: -0.3rem;

    &::before {
      content: "ⓘ ";
      color: black;
    }
  }

  input[type=text], input[type=password] {
    width: 100%;
    box-sizing: border-box;
  }

  input[type=submit] {
    margin-right: 0.3rem;
  }
}

.actions {
  margin-top: 2rem;

  a, .separator { margin-right: 0.5rem; }
}

.alert, .error-explanation {
  background: #fdd;
  padding: 1.5rem;
  margin-bottom: 2.5rem;

  h2 {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  ul {
    margin: 0;
  }

  li {
    margin-bottom: 0.5rem;
  }
}

.notice {
  background: hsl(120, 60%, 93%);
  border: 1px solid hsl(120, 40%, 88%);
  padding: 1.5rem;
  margin-bottom: 2.5rem;
}

footer {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  font-size: 1.3rem;
  color: #333;

  a { color: #666; }
}
